<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>Rendr Example App</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GitHub Browser</a>
        </div>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/repos">Repos</a></li>
            <li class="active"><a href="/users">Users</a></li>
          </ul>
        </div>
        <div class="loading-indicator">Loading&hellip;</div>
      </div>
    </div>

    <main id="content" class="container">
      {{{body}}}
    </main>

    <script>
    var appNS = {};
    appNS.appData = {{json appData}};
    appNS.bootstrappedData = {{json bootstrappedData}}
    </script>
    <script src="{{appData.commonPath}}"></script>
  </body>
</html>
